.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}


ul {
  list-style-type: none;
}

footer .bottom-nav li:first-child {
  border-left: none;
}

footer .bottom-nav li {
  display: inline-block;
  padding-left: 0.5em;
  list-style-type: none;
  font-size: 0.75em;
  line-height: 1;
  border-left: solid 1px white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
