<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>&copy; 20XX City of Sample</p>
      </div>
      <div class="col-sm">
        <ul class="bottom-nav">
          <li><a href="#" target="_blank">Terms of Use
              <span class="visuallyhidden">(opens in a new window)</span></a></li>
          <li><a href="#" target="_blank">Privacy policy
              <span class="visuallyhidden">(opens in a new window)</span></a></li>
        </ul>
      </div>
      <div class="col-sm">
        <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
          <fa-icon [icon]="share.prop.twitter.icon" size="lg"></fa-icon>
        </button>
        <button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
          <fa-icon [icon]="share.prop.facebook.icon" size="lg"></fa-icon>
        </button>
        <button shareButton="linkedin" [style.backgroundColor]="share.prop.linkedin.color">
          <fa-icon [icon]="share.prop.linkedin.icon" size="lg"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</footer>
