<header>
  <nav
    id="navbar"
    role="navigation"
    aria-label="top navigation bar containing links to the home page and the voting page on the right."
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    aria-expanded="true"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" aria-label="This logo link will bring you back to the home page.">
        <img id="nav-logo" [src]="logo.value" alt="Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" aria-label="" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/selection']"
              aria-label="planning your vote - Proceed to step 1">Start Voting</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
