################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/plan-your-vote-cms
/obj/Debug/netcoreapp2.2
/.vs
/pyv-cms.sln
