@model IEnumerable<Web.ViewModels.UsersRoles>

@{
    ViewBag.Title = "Role Index";
}

<h2>List of Roles</h2>

<p>
    @Html.ActionLink("Create New", "CreateRole")
</p>
<table class="table">
    <tr>
        <th>
            name
        </th>

        <th>Role</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>

            <td>
                @if (item.Role.Name != "Admin")
                {
                    <p>admin</p>;
                }
            </td>
        </tr>
    }

</table>
