@model PlanYourVoteLibrary2.Step
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Create New Step"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StepNumber" class="control-label"></label>
            <input asp-for="StepNumber" class="form-control" min="1" />
            <span asp-validation-for="StepNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StepTitle" class="control-label"></label>
            <input asp-for="StepTitle" class="form-control" />
            <span asp-validation-for="StepTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StepDescription" class="control-label"></label>
            <textarea asp-for="StepDescription" class="form-control mx-0" rows="6"></textarea>
            <span asp-validation-for="StepDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
