<!--The content below is only a placeholder and can be replaced.-->
<form>
  <div id="stepone" class="container">
    <div class="col-md-12">
      <hr>
      <h3>{{step1}}</h3>
      {{step1description}}
      <br />
    </div>
    <div>
      <div class="col-md-12">
        <p>
          Filter by:
          <select id="filterRace" (change)="filterRaces($event.target.value)" name="race" style="padding-right: 10px; font-weight:normal;">
            <option>All Races</option>
            <option value="{{p0}}">{{p0}}</option>
            <option value="{{p1}}">{{p1}}</option>
            <option value="{{p2}}">{{p2}}</option>
            <option value="{{p3}}">{{p3}}</option>
          </select>
        </p>
      </div>
      <div class="col-md-12" style="font-size: 16pt; align-items: flex-start;">
        <input type="text" />
        <input type="submit" value="Search" />
      </div>
    </div>
    <br />
    <div id="p0" class="col-md-11" *ngIf="!p0show">
      <!--TODO: Add choose functionality and then duplicate for all positions-->
      <h5 style="font-weight: bolder;">{{p0}}</h5>
      <p>FOR THE ELECTION, YOU CAN VOTE FOR {{p0numCandidates}} CANDIDATE(S)</p>
      <p>{{p0description}}</p>
      <!--TODO: WHERE CANDIDATES GO-->
    </div>
    <div id="p1" class="col-md-11" *ngIf="!p1show">
      <!--TODO: Add choose functionality and then duplicate for all positions-->
      <h5 style="font-weight: bolder;">{{p1}}</h5>
      <p>FOR THE ELECTION, YOU CAN VOTE FOR {{p1numCandidates}} CANDIDATE(S)</p>
      <p>{{p1description}}</p>
      <!--TODO: WHERE CANDIDATES GO-->
    </div>
    <div id="p2" class="col-md-11" *ngIf="!p2show">
      <!--TODO: Add choose functionality and then duplicate for all positions-->
      <h5 style="font-weight: bolder;">{{p2}}</h5>
      <p>FOR THE ELECTION, YOU CAN VOTE FOR {{p2numCandidates}} CANDIDATE(S)</p>
      <p>{{p2description}}</p>
      <!--TODO: WHERE CANDIDATES GO-->
    </div>
    <div id="p3" class="col-md-11" *ngIf="!p3show">
      <!--TODO: Add choose functionality and then duplicate for all positions-->
      <h5 style="font-weight: bolder;">{{p3}}</h5>
      <p>FOR THE ELECTION, YOU CAN VOTE FOR {{p3numCandidates}} CANDIDATE(S)</p>
      <p>{{p3description}}</p>
      <!--TODO: WHERE CANDIDATES GO-->
    </div>
  </div>
  <div id="steptwo" class="container">
    <div class="col-md-12">
      <h3>
        {{step2}}
      </h3>
      {{step2description}}
    </div>
    <br />
    <div class="col-md-12">
      <div id="q0">
        <h5>{{q0}}</h5>
        {{q0desc}}
        <table class="table">
          <tr>
            <th>Program</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>{{q0i0program}}</td>
            <td>{{q0i0desc}}</td>
            <td>{{q0i0amount}}</td>
          </tr>
          <tr>
            <td>{{q0i1program}}</td>
            <td>{{q0i1desc}}</td>
            <td>{{q0i1amount}}</td>
          </tr>
          <tr>
            <td>{{q0i2program}}</td>
            <td>{{q0i2desc}}</td>
            <td>{{q0i2amount}}</td>
          </tr>
        </table>
        <p>How do you plan to answer Question {{q0}}</p>
        <input type="radio" name="q0ans" [(ngModel)]="q0ans" value="Yes">Yes
        <input type="radio" name="q0ans" [(ngModel)]="q0ans" value="No">No
      </div>
      <br />
      <div id="q1">
        <h5>{{q1}}</h5>
        {{q1desc}}
        <table class="table">
          <tr>
            <th>Program</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>{{q1i0program}}</td>
            <td>{{q1i0desc}}</td>
            <td>{{q1i0amount}}</td>
          </tr>
          <tr>
            <td>{{q1i1program}}</td>
            <td>{{q1i1desc}}</td>
            <td>{{q1i1amount}}</td>
          </tr>
          <tr>
            <td>{{q1i2program}}</td>
            <td>{{q1i2desc}}</td>
            <td>{{q1i2amount}}</td>
          </tr>
        </table>
        <p>How do you plan to answer Question {{q1}}</p>
        <input type="radio" name="q1ans" [(ngModel)]="q1ans" value="Yes">Yes
        <input type="radio" name="q1ans" [(ngModel)]="q1ans" value="No">No
      </div>
      <br />
      <div id="q2">
        <h5>{{q2}}</h5>
        <p>{{q2desc}}</p>
        <table class="table">
          <tr>
            <th>Program</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>{{q2i0program}}</td>
            <td>{{q2i0desc}}</td>
            <td>{{q2i0amount}}</td>
          </tr>
          <tr>
            <td>{{q2i1program}}</td>
            <td>{{q2i1desc}}</td>
            <td>{{q2i1amount}}</td>
          </tr>
        </table>
        <p>How do you plan to answer Question {{q2}}</p>
        <input type="radio" name="q2ans" [(ngModel)]="q2ans" value="Yes">Yes
        <input type="radio" name="q2ans" [(ngModel)]="q2ans" value="No">No
      </div>
      <br />
    </div>
  </div>
  <div id="review" class="container">
    <div class="col-md-12">
      <h3>
        {{step4}}
      </h3>
    </div>
    <br />
    <div class="col-md-12">
      <h5>YOUR PLANNED RESPONSES TO CAPITAL PLAN BORROWING QUESTIONS</h5>
      <p>{{q0}}</p>
      <p><b>{{q0ans}}</b> to borrowing {{q0total}}</p>
      <p>{{q1}}</p>
      <p><b>{{q1ans}}</b> to borrowing {{q1total}}</p>
      <p>{{q2}}</p>
      <p><b>{{q2ans}}</b> to borrowing {{q2total}}</p>
    </div>
</div>
  <br />
</form>
