<!--The content below is only a placeholder and can be replaced.-->
<form>
  <div id="stepone" class="container">
    <div class="col-md-12">
      <h3>{{ step1 }}</h3>
      <p>{{ step1description }}</p>
    </div>
    <div>
      <div class="col-md-12">
        <p>
          Filter by:
          <select
            id="filterRace"
            (change)="filterRaces($event.target.value)"
            name="race"
            style="padding-right: 10px; font-weight:normal;"
          >
            <option>All Races</option>
            <option *ngFor="let r of races" value="{{ r.positionName }}">{{
              r.positionName
            }}</option>
          </select>
        </p>
      </div>
    </div>

    <div style="text-align:center"></div>
    <div class="col-md-12" *ngFor="let race of races">
      <div *ngIf="race.show == 'true'">
        <app-candidate-table [race]="race"></app-candidate-table>
      </div>
    </div>
  </div>

  <div id="steptwo" class="container">
    <div class="col-md-12">
      <h3>
        {{ step2 }}
      </h3>
      {{ step2description }}
    </div>

    <div class="col-md-12" *ngFor="let i of issues">
      <h5>{{ i.ballotIssueTitle }}</h5>
      {{ i.description }}
      <div *ngFor="let o of i.ballotIssueOptions">
        <input
          type="radio"
          name="{{ i.ballotIssueTitle }}"
          [(ngModel)]="i.answer"
          value="{{ o.issueOptionInfo }}"
        />{{ o.issueOptionInfo }}
      </div>
    </div>
  </div>

  <div id="review" class="container">
    <div class="col-md-12">
      <h3>
        {{ step4 }}
      </h3>
    </div>

    <div class="col-md-12" *ngFor="let r of races">
      <h5>YOUR CHOICES FOR {{ r.positionName }}</h5>
      <div class="table-responsive table-container">
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Picture</th>
              <th>Biography</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of r.selected">
              <td>{{ c.firstName }}</td>
              <td>{{ c.lastName }}</td>
              <td><img src="{{ c.picture }}" /></td>
              <td>{{ c.biography }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <h5>YOUR PLANNED RESPONSES TO CAPITAL PLAN BORROWING QUESTIONS</h5>

      <div *ngFor="let i of issues">
        <p>{{ i.ballotIssueTitle }}</p>
        <p>
          Answer: <b>{{ i.answer }}</b>
        </p>
      </div>
    </div>
  </div>
</form>

<button class="btn btn-secondary" (click)="generatePdf()">
  Try PDF
</button>
