<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Plan Your Vote</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="navbar navbar-expand">
        <a class="nav-link nav-item" [routerLink]="['/selection/step1']"
          >Step 1</a
        >
        <a class="nav-link nav-item" [routerLink]="['/selection/step2']"
          >Step 2</a
        >
        <a class="nav-link nav-item" [routerLink]="['/selection/step3']"
          >Step 3</a
        >
        <a class="nav-link nav-item" [routerLink]="['/selection/step4']"
          >Step 4</a
        >
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<form>
  <div [ngSwitch]="currentStep">
    <app-step1
      *ngSwitchCase="'step1'"
      [step1title]="step1title"
      [step1description]="step1description"
      [races]="races"
    ></app-step1>

    <app-step2
      *ngSwitchCase="'step2'"
      [step2title]="step2title"
      [step2description]="step2description"
      [issues]="issues"
    ></app-step2>

    <app-step3 *ngSwitchCase="'step3'"></app-step3>

    <app-step4
      *ngSwitchCase="'step4'"
      [step4title]="step4title"
      [races]="races"
      [issues]="issues"
    ></app-step4>
  </div>
</form>
