<body [style.background-color]="currentElection?.PageBackgroundColor" [style.color]="currentElection?.PageTextColor"
  [style.font-size]="currentElection?.PageFontSize" [style.font-family]="currentElection?.PageFontFamily">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <h3>
      {{ 'APP.TITLE' | translate }}
    </h3>
    <p class="lead">{{ 'APP.LANGUAGE' | translate }}</p>
    <button (click)="generatePdf()">Try PDF</button>
    <br />

    <div class="style-demo-button">
      <button mat-raised-button (click)="nextElection()" color="accent">Change Election/Style</button>
    </div>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            View Election Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <br />
          <mat-divider></mat-divider>
          <div class="election-details-demo">
            <img [src]="( currentElection?.LogoURL )" width="300px" height="auto" />
          </div>
          <br />

          <mat-card class="mat-elevation-z4" [style.color]="currentElection?.PageTextColor"
            [style.font-size]="currentElection?.PageFontSize" [style.font-family]="currentElection?.PageFontFamily">
            <mat-card-header>
              <mat-card-title>
                <h3>{{ currentElection?.VoteTitle }}</h3>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <dl>
                <dt>Description:</dt>
                <dd>{{ currentElection?.VoteDescription }}</dd>
                <dt>Date:</dt>
                <dd>{{ currentElection?.VoteDate }}</dd>
              </dl>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <br />
    <mat-divider></mat-divider>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <app-icsfile></app-icsfile>
    <br />
    <app-email></app-email>
  </div>
  <app-footer-menu></app-footer-menu>
</body>