<body [style.background-color]="currentElection?.PageBackgroundColor"
    [style.color]="currentElection?.PageTextColor" 
    [style.font-size]="currentElection?.PageFontSize"
    [style.font-family]="currentElection?.PageFontFamily">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <h3>
      {{ 'TITLE' | translate }}
    </h3>
    <div>
      <button (click)="setLang('en')" class="btn btn-warning">English</button>
      <button (click)="setLang('kr')" class="btn btn-primary">
        Korean 한국어
      </button>
      <button (click)="setLang('zh-cn')" class="btn btn-dark">
        Simplified Chinese 简体中文
      </button>
      <button (click)="setLang('zh-tc')" class="btn btn-info">
        Traditional Chinese 繁體中文
      </button>

    </div>
    <button (click)="generatePdf()">Try PDF</button>
    <br />

    <div class="style-demo-button">
      <button mat-raised-button (click)="nextElection()" color="accent">Change Style</button>
    </div>

    <div>
      <br />
      <mat-divider></mat-divider>
      <div class="election-details-demo">
        <img [src]="( currentElection?.LogoURL )" width="300px" height="auto" />
      </div>
      <br />

      <mat-card class="mat-elevation-z4" 
          [style.color]="currentElection?.PageTextColor"
          [style.font-size]="currentElection?.PageFontSize" 
          [style.font-family]="currentElection?.PageFontFamily">
        <mat-card-header>
          <mat-card-title>
            <h3>{{ currentElection?.VoteTitle }}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <dl>
            <dt>Description:</dt>
            <dd>{{ currentElection?.VoteDescription }}</dd>
            <dt>Date:</dt>
            <dd>{{ currentElection?.VoteDate }}</dd>
          </dl>
        </mat-card-content>
    </mat-card>
    </div>

    <br />
    <mat-divider></mat-divider>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <app-email></app-email>
  </div>
  <app-footer-menu></app-footer-menu>
</body>
