<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <h3>
      {{ 'TITLE' | translate }}
    </h3>
    <p class="lead">{{ 'LANGUAGE' | translate }}</p>
    <div>
      <button (click)="setLang('en')" class="btn btn-warning">English</button>
      <button (click)="setLang('kr')" class="btn btn-primary">
        Korean 한국어
      </button>
      <button (click)="setLang('zh-cn')" class="btn btn-dark">
        Simplified Chinese 简体中文
      </button>
      <button (click)="setLang('zh-tc')" class="btn btn-info">
        Traditional Chinese 繁體中文
      </button>
    </div>
    <button (click)="generatePdf()">Try PDF</button>
    <br />
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <app-email></app-email>
  </div>
</body>
