<div>
  <label for="dateChooser" class="col-form-label" id="info" aria-label="format: day month year">Date:</label>
  <select id="dateChooser" role="listbox" [(ngModel)]="selectedDate" (change)="selected()">
    <option aria-describedby="info" *ngFor="let item of data" [ngValue]="item">{{item.date}}</option>
  </select>

  <div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">{{selectedDate.date}} 08:00 AM</span>
    <span class="end">{{selectedDate.date}} 03:00 PM</span>
    <span class="timezone">America/Vancouver</span>
    <span class="title">Canadian Federal Election 2020</span>
    <span class="description">Elect members of the Legislative Assembly in Canada</span>
    <span class="location"></span>
  </div>
</div>
