<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ step4title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngFor="let race of races">
      <h5>YOUR CHOICES FOR {{ race.positionName }}</h5>
      <div class="table-responsive table-container">
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Picture</th>
              <th>Biography</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of race.selected">
              <td>{{ c.firstName }}</td>
              <td>{{ c.lastName }}</td>
              <td><img src="{{ c.picture }}" /></td>
              <td>{{ c.biography }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <h5>YOUR PLANNED RESPONSES TO CAPITAL PLAN BORROWING QUESTIONS</h5>
      <div *ngFor="let issue of issues">
        <p>{{ issue.ballotIssueTitle }}</p>
        <p>
          Answer: <b>{{ issue.answer }}</b>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <app-email></app-email>
      <app-icsfile></app-icsfile>
      <button class="btn btn-secondary" (click)="generatePdf()">
        Generate Voting Plan PDF
      </button>
    </div>
  </div>
</div>
