<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ step4title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb40" *ngFor="let race of races">
      <h5>Your Choices For {{ race.positionName }}</h5>
      <div class="table-responsive table-container">
        <table class="table">
          <thead>
            <tr>
              <th id="fName" aria-label="Column 1: First Name of the Candidate.">First Name</th>
              <th id="lName" aria-label="Column 2: Last Name of the Candidate.">Last Name</th>
              <th id="picture" aria-label="Column 3: Image of the Candidate.">Picture</th>
              <th id="bio" aria-label="Column 4: Biographic description of the Candidate.">Biography</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of race.selected">
              <td>{{ c.firstName }}</td>
              <td>{{ c.lastName }}</td>
              <td><img src="{{ c.picture }}" /></td>
              <td>{{ c.biography }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 mb80">
      <h5>Your Planned Responses To Capital Plan Borrowing Questions</h5>
      <div class="mb40" *ngFor="let issue of issues">
        <p>{{ issue.ballotIssueTitle }}</p>
        <p>
          Answer: <b>{{ issue.answer }}</b>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6" 
      aria-label="To send a reminder email, add your email with a subject and message in the text fields provided.
        You can also choose a date to add to calendar and generate a pdf with a summary of your voting plan.">
      <app-email></app-email>
      <app-icsfile></app-icsfile>
      <button aria-label="Generating pdf summary of your plan." class="btn btn-secondary" (click)="generatePdf()">
        Generate Voting Plan PDF
      </button>
    </div>
  </div>
</div>
