@model Web.Models.BallotIssue

@{ 
    var lastIndex = Model.BallotIssueOptions.Count - 1;
}

<script src="https://cdn.tiny.cloud/1/nausdmhpot3ooouthd7kcs9tqpnqev62z87mt9anwycldlbd/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
        tinyMCE.init({
            mode : "textareas"
        });
</script>

<div class="row option">
    <div class="col-md-10">
        <div class="form-group">
            @Html.TextAreaFor(model => model.BallotIssueOptions[lastIndex].IssueOptionInfo, new { @class = "form-control option-text", @rows = 2 })
        </div>
    </div>
    <div class="col-md-2 form-group">
        <button id="RemoveIssueOption" type="button" role="button" class="btn btn-primary" onClick="removeOption(@lastIndex)">Remove Option</button>
    </div>
</div>