@model Web.Models.PollingStation
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <h4>@Localizer["PollingStation"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PollingStationId" />
                <div class="form-group">
                    <label asp-for="ElectionId" class="control-label"></label>
                    <select asp-for="ElectionId" class="form-control" asp-items="ViewBag.ElectionId"></select>
                    <span asp-validation-for="ElectionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitute" class="control-label"></label>
                    <input asp-for="Longitute" class="form-control" />
                    <span asp-validation-for="Longitute" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WheelchairInfo" class="control-label"></label>
                    <input asp-for="WheelchairInfo" class="form-control" />
                    <span asp-validation-for="WheelchairInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingInfo" class="control-label"></label>
                    <input asp-for="ParkingInfo" class="form-control" />
                    <span asp-validation-for="ParkingInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WashroomInfo" class="control-label"></label>
                    <input asp-for="WashroomInfo" class="form-control" />
                    <span asp-validation-for="WashroomInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GeneralAccessInfo" class="control-label"></label>
                    <input asp-for="GeneralAccessInfo" class="form-control" />
                    <span asp-validation-for="GeneralAccessInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalInfo" class="control-label"></label>
                    <input asp-for="AdditionalInfo" class="form-control" />
                    <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
