/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '~@ngx-share/button/themes/default/default-theme';

body {
    margin: 0;
    height: 100%;
}

mat-card {
    width: 80%;
}

mat-expansion-panel {
    background-color: #ECECEC !important;
    width: 60%;
}

.mat-raised-button {
    margin-bottom: 10px !important;
}

.style-demo-button {
    position:absolute;
    top: 100px;
    right: 210px;
}

.election-details-demo {
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}