@model Web.Models.State

@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <h4>@Localizer["Current Election"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="StateId" />
                <div class="form-group">
                    <label asp-for="CurrentElection" class="control-label"></label>
                    <select asp-for="CurrentElection" class="form-control" asp-items="ViewBag.Elections"></select>
                    <span asp-validation-for="CurrentElection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
