@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("home_privacy_title");
}
<h1>@ViewData["Title"]</h1>

<p>@SharedLocalizer.GetLocalizedHtmlString("home_privacy_msg")</p>
