@model Web.ViewModels.CandidatesByRaceViewModel
@using  Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Index"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<div id="list-candidates" class="panel panel_default">
    @{ await Html.RenderPartialAsync("CandidateList", Model); }
</div>
