@model Web.Models.Race
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("races_create_title");
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberNeeded" class="control-label"></label>
                <input asp-for="NumberNeeded" class="form-control" min="1"/>
                <span asp-validation-for="NumberNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@SharedLocalizer.GetLocalizedHtmlString("Create") class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">@SharedLocalizer.GetLocalizedHtmlString("backButton")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}