<div>
  <table>
    <tr>
      <td><label aria-label="Add your email in the text field provided to the right.
        Make sure the email is more than 5 characters long.">E-mail Address: </label></td>
      <td>
        <input
          role="textbox"
          type="text"
          [(ngModel)]="emailaddress"
          name="email"
          ng-required="true"
          ng-minlength="5"
        />
      </td>
      <td class="warningLabel" *ngIf="invalidEmail">
        <label role="alert" aria-label="Invalid Email.
          Make sure the email is at least 5 characters long and contains a valid email hosting provider.">
            Invalid Email
        </label>
      </td>
      <td class="warningLabel" role="alert" *ngIf="noEmail"><label id="No Email was provided.">No Email</label></td>
    </tr>
    <tr>
      <td><label aria-label="Add the subject to this email in the text field provided to the right.">Subject: </label></td>
      <td><input role="textbox" type="text"[(ngModel)]="subject" name="subject" /></td>
    </tr>
    <tr>
      <td><label aria-label="Add the body message to this email in the text field provided to the right.">Message: </label></td>
      <td><input role="textbox" type="text"[(ngModel)]="message" name="message" /></td>
    </tr>
  </table>

  <button aria-label="Email sent to the provided email address." class="btn" (click)="sendReminderEmail()">Send Reminder Email</button>
  <!-- Requires email user to be logged into Gmail and allow sending E-mails from sources -->
</div>
