<div>
  <table>
    <tr>
      <td><label aria-required="true" id="email">E-mail Address: </label></td>
      <td>
        <input
          aria-describedby="email"
          aria-required="true"
          type="text"
          [(ngModel)]="emailaddress"
          name="email"
          ng-required="true"
          ng-minlength="5"
        />
      </td>
      <td class="warningLabel" *ngIf="invalidEmail">
        <label role="alert" aria-live="assertive" aria-label="Invalid Email.
          Make sure the email is at least 5 characters long and contains a valid email hosting provider.">
            Invalid Email
        </label>
      </td>
      <td class="warningLabel" role="alert" *ngIf="noEmail"><label aria-label="Email is required." id="No Email was provided.">No Email</label></td>
    </tr>
    <tr>
      <td><label id="subject">Subject: </label></td>
      <td><input aria-describedby="subject" type="text"[(ngModel)]="subject" name="subject" /></td>
    </tr>
    <tr>
      <td><label id="message">Message: </label></td>
      <td><input aria-describedby="message" type="text"[(ngModel)]="message" name="message" /></td>
    </tr>
  </table>

  <button class="btn" (click)="sendReminderEmail()" aria-label="send email">Send Reminder Email</button>
  <!-- Requires email user to be logged into Gmail and allow sending E-mails from sources -->
</div>
