@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Plan Your Vote - CMS</h1>
    <p>Use this tool to populate your databaes with Candidates, Positions (Races) to elect for etc.</p>
</div>
