@model IEnumerable<Web.ViewModels.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Role Management</h1>

<p>
    <a asp-action="CreateRole">Create A New Role</a> | 
    <a asp-action="EditRole">Role List</a></p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.userId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.userId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.userId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
