h1,
h2,
h3 {
  font-family: "Lato", "sans-serif";
  font-weight: 500;
}

p,
tr,
th,
td {
  font-family: "Noto Sans", "sans-serif";
  font-size: 17px;
  color: #333333;
}

select {
  margin-left: 5px;
  padding: 5px;
}

a {
  color: #284162; /* Big links */
}

a:visited {
  color: #7834bc;
}

button {
  width: 80px;
}

.race-number-needed {
  font-weight: bold;
}

/*
a {
	color: #335075; // Small font-size Links
}
*/

/*

background-color: #26374a; // dark background block
color: #ffffff; // white text for dark background block
border-bottom: 1px solid #af3c43; // red underline for dark background block

background-color: #355688; // promo banner
background-color: #444; // hovered menu item
*/
