<h2 class="page-title">{{ race.positionName }}</h2>
<p>FOR THE ELECTION, YOU CAN VOTE FOR {{ race.numberNeeded }} CANDIDATE(S)</p>
<div class="table-responsive table-container">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Picture</th>
        <th>Biography</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cr of race.candidateRaces">
        <td>{{ cr.candidate.firstName }}</td>
        <td>{{ cr.candidate.lastName }}</td>
        <td><img src="{{ cr.candidate.picture }}" /></td>
        <td>{{ cr.candidate.biography }}</td>
        <button
          type="button"
          (click)="onSelect(cr.candidate, race)"
          class="glyphicon glyphicon-check"
        >
          {{ cr.candidate.selected ? "Cancel" : "Select" }}
        </button>
      </tr>
    </tbody>
  </table>
</div>